

body {
color: #774c24;
background-color: #000000;
}

*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

input {
  outline: none;
  
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-bottom: 50px;
}

.heading {
  margin: 0;
  font-size: 2em;
}

.search {
  height: 50px;
  width: 500px;
  border-radius: 10px;
  padding: 20px;
  background-color: #58775900;
  border: none;
  border-bottom: 2px solid #774c24;
  font-size: 1.5em;
  color: #774c24;
  transition: 1s;
  transform: scale(1);
  cursor: pointer;
}
.search::placeholder {
  color: #3a3a3a;
  font-size: 1em;
  transition: .5s;
}
.search:focus,
.search:hover {
  transform: scale(1.1);
  transition: 1s;
}
.search::-ms-clear {
  background-color: black;
  width: 100px;
}


.main {
  width: 100%;
  margin: 20px auto;
  columns: 4;
  column-gap: 40px;
}

.main .block-img {
  width: 100%;
  margin-bottom: 10px;
}

.main .block-img .img {
  width: 100%;
  border-radius: 15px;
}

