body {
/* color: #774c24; */
background-color: rgb(231, 231, 231);
}

*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

input {
  outline: none;
  
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-bottom: 50px;
}

.heading {
  margin: 0;
  font-size: 2em;
}

.search {
  height: 50px;
  width: 500px;
  padding: 20px;
  background-color: inherit;
  border: none;
  border-bottom: 2px solid #000000;
  font-size: 1.5em;
  color: #000000;
  transition: 1s;
  transform: scale(1);
  cursor: pointer;
}
.search::placeholder {
  color: #3a3a3a;
  font-size: 1em;
  transition: .5s;
}
.search:focus,
.search:hover {
  transform: scale(1.1);
  transition: 1s;
}
.search::-ms-clear {
  background-color: black;
  width: 100px;
}


.main {
  width: 100%;
  margin: 20px auto;
  columns: 4;
  column-gap: 40px;
}

.block-img {
  width: 100%;
  margin-bottom: 10px;
}

.img {
  width: 100%;
  border-radius: 15px;
  transform: scale(1);
  transition: 1s;
}

.img:hover {
  transform: scale(1.2);
  transition: 1s;
  position: relative;
  z-index: 10;
  cursor: pointer;
}
